{% extends "store/base.html" %} {% block title %}Подтвердить удаление{% endblock %}
{% block content %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Выключать</legend>
            <h5>Вы уверены, что хотите удалить сотрудников? "{{ object.username }}"</h5>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger btn-sm" type="submit">Да, удалить.</button>
            <a class="btn btn-outline-success btn-sm" href="{% url 'saleslist' %}">Отмена</a>
        </div>
    </form>
</div>
{% endblock content %}