{% extends "store/base.html" %} {% block title %}Confirm delete{% endblock %}
{% block content %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">O'chirish</legend>
            <h5>Haqiqatan ham xodimlarni oʻchirib tashlamoqchimisiz "{{ object.username }}"</h5>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger btn-sm" type="submit">Ha, o'chirish</button>
            <a class="btn btn-outline-success btn-sm" href="{% url 'saleslist' %}">Bekor qilish</a>
        </div>
    </form>
</div>
{% endblock content %}